div.container img {
    width: 100px;
    height: auto;
    margin-right: 15px;
}

.input {
    height: 30px;
    max-width: 100%;
    width: 100%;
    border-radius: 8px 8px 8px 8px;
    font-size: 20px;
    padding-left: 5px;
    outline: none;
    border: 2px solid #D6302B;
}

.goodInnerDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.goodUpperInnerDiv {
    display: flex;
    justify-content: space-between;
    margin-top: 10px
}


.deleteSpan {
    color: #D6302B;
    height: 20px;
    cursor: pointer;
    align-self: center;
    text-decoration: underline;
}

.nameSpanLink {
    cursor: pointer;
    color: blue;
    text-decoration: underline
}

.upperCart {
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    align-self: center;
}

.outerCategory {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
    width: 75%;
    min-height: calc(10vh)
}


