.footer {
    margin-top: 20px;
    padding: 5px;
    background-color: #D6302B;
    min-height: 70px;
}

.topNubex {
    position: fixed;
    right: 3%;
    bottom: 4%;
    font-size: 20px;
}

.footerDiv {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.footerCenterDiv {
    margin-top: 10px;
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.footerHorizontalDiv {
    margin-top: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    justify-content: center;
}

.toCartIcon{
    position: fixed;
    width: 64px;
    height: 64px;
    right: 3.5%;
    bottom: 11%;
    border-radius: 15px;
    padding: 10px;
    background-color: red;
    cursor: pointer;
}