img {
    width: calc(50% - 10px);
    height: auto;
    margin: 0 auto 0 auto;
}

div.container div.divTextMargin ul li {
    margin-left: 25px;
}

.imageGroupDiv {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.loneImage {
    width: calc(100% - 10px);
    height: auto;
    margin: 0 10px 0 10px;
}

@media (max-width: 900px) {

    img {
        margin-top: 10px;
        width: calc(100% - 10px);
    }
}


