.container {
    max-width: 900px;
    margin: 15px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    flex-direction: column;
    min-height: calc(100vh - 220px);
}


.buttonBuyDiv {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.buttonBuy {
    background-color: #D6302B;
    cursor: pointer;
    color: white;
    padding: 8px;
    border: 0 solid transparent;
    border-radius: 8px 8px 8px 8px;
    outline: none;
}


.bigText {
    color: black;
    font-weight: bold;
    font-size: 21px;
}

.whiteBigText{
    color: white;
    font-weight: bold;
    font-size: 21px;
}

.smallText {
    font-size: 18px;
    text-align: left;
}

.smallBlackText {
    color: black;
    font-size: 18px;
    text-align: left;
}

.h2Style {
    justify-self: center;
    align-self: center;
    font-weight: bold;
    max-height: 50px;
    margin-top: 25px;
}

.divTextMargin {
    margin-top: 20px;
    width: 900px;
}

.horizontalDiv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.verticalDiv {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.iframe {
    height: 600px;
    width: 850px;
    border-radius: 8px 8px 8px 8px;
    border: 2px solid #D6302B;
}


@media (max-width: 925px) {
    .container {
        max-width: 600px;
    }

    .divTextMargin {
        width: 600px;
    }

    .iframe {
        width: 600px;
        height: 450px;
    }
}

@media (max-width: 600px) {

    .horizontalDiv {
        flex-direction: column;
    }

    .container {
        max-width: 450px;
    }

    .divTextMargin {
        width: 450px;
    }

    .iframe {
        width: 450px;
        height: 320px;
    }
}
